#breadcrumb {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  z-index: 999;
  height: 50px;
  color: white;
  display: none;
  margin: auto;
}

.breadContent {
  padding: 0.5rem;
  border-radius: 5px;
  background-color:rgb(0, 16, 137);
  box-shadow:  0 0 10rem 4rem rgb(1, 32, 94);
  width: 90%;
  margin: auto;
  z-index: 111;
}

@media screen and (max-width: 739px) {
  #breadcrumb {
    display: block;
  }
}
@media screen and (min-width: 740px) and (max-width: 1024px) {
  #breadcrumb {
    display: block;
  }
}
