/* RESPONSIVE */
/*  pc: width >= 1024px */
@media screen and (min-width: 1025px) {
}
/* tablet: 740<= width < 1024 */
@media screen and (min-width: 740px) and (max-width: 1024px) {
  .main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: unset;
    padding: 4rem;
  }

  .Content {
    width: 80%;
    margin: auto;
  }
  .fixedContent {
    all: unset !important;
  }
}
/* moblie: width < 740px */
@media screen and (max-width: 739px) {
  .main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 4rem;
    width: unset;
  }

  .Content {
    width: 80%;
    margin: auto;
  }
  .fixedContent {
    all: unset !important;
  }


  .Content {
    all: unset;
  }

  .fixedContent {
    all: unset !important;
  }

  .left__Body {
    display: none;
  }

  .left__Bottom {
    all: unset;
  }
  .intro h1,
  .intro h3 {
    font-size: 22px;
  }

  .myitem {
    display: flex;
    flex-direction: column;
    gap: unset;
  }
}
