/* Style */
.main {
  width: 60%;
  margin: auto;
  position: relative;
  display: flex;
  color: var(--text-color);
  flex-wrap: wrap;
}

.Content {
  width: 50%;
  padding: 5rem 0;
  color: var(--p-fade-color);
}

/* CURSOR TRAIL */
.cursor-trail {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  pointer-events: none;
  transition: all 0.1s ease;
  /* background-color: rgba(134, 255, 247, 0.5); */
  box-shadow: 0 0 10rem 4rem rgb(4, 67, 195);
}
